.w3sbutton-container {
    all: unset;
    position: fixed;
    left: 5px;
    top: 60%;
    transform-origin: 0 0;
    transform: rotate(-90deg);
}

.w3sbutton-container a.w3sbutton {
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background: green;
    border-radius: 5px;
}

.w3sbutton-container a.w3sbutton:hover {
    background: blue;
}
